.App {
  text-align: left;
}

.colorRed {
  color: red;
}
.marginY0 {
  margin-top: 0;
  margin-bottom: 0;
}
.uppercaseText {
  text-transform: uppercase;
}

.rowView {
  display: flex;
  flex-direction: row;
  line-height: 25px;
}
.centerAligned {
  align-items: center;
}
.columnView {
  display: flex;
  flex-direction: column;
}
.paddingXRegular {
  padding-left: 10px;
  padding-right: 10px;
}
.paddingXsm {
  padding-left: 5px;
  padding-right: 5px;
}
.lightGrey {
  color: #BBC1C9;
}
.mediumGrey {
  color: #8E9399;
}
.darkGrey {
 color:#4D4E4F;
}
.boldText {
  font-weight: 600;
}
.smallFont {
  font-size: 11px;
  line-height: 25px;
}
.regularFont {
  font-size: 14px;
}
.tagStyle {
  background-color: #4D4E4F;
  color:white;
  border-radius: 25px;
  padding: 2px 8px 2px 8px;
  
}
.pointer {
  cursor: pointer;
}
.mb1 {
  margin-bottom: 10px;
}